.toggle-modal {
    cursor: pointer;
    background-color: plum;
}

.modal-container {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .8);
    display: grid;
    place-items: center;
    transform: scale(0);
    opacity: 0;
    transition: opacity .5s;
}

.modal-container.open {
    transform: scale(1);
    opacity: 1;
}

.modal {
    position: relative;
    width: 500px;
    height: 350px;
    background: url(./image.jpg) center no-repeat;
    background-size: cover;
    border-radius: 4px;
    transform: translateY(25px);
    opacity: 0;
    transition: opacity .5s .25s, transform .5s .25s;
}

.modal-container.open .modal {
    transform: translateY(0);
    opacity: 1;
}